<div>
  <nav id="result-search-nav">
    <p id="nav-logo"><a href="#/">G06</a></p>

    <div id="result-search-form-container">
      <form id="result-search-form">
        <input class="typeahead" type="search" placeholder="Search..."/>
        <button type="submit" ng-click="search()"></button>
      </form>
    </div>
  </nav>
  <nav id="tab-nav">
    <div id="tab-list">
      <div id="selected-tab"><a ng-href="#/result/web?query={{query}}">Web</a></div>
      <div><a ng-href="#/result/news?query={{query}}">News</a></div>
      <div><a ng-href="#/topic">Topic</a></div>
    </div>
  </nav>
  <section id="result-container">
    <p id="time-used" ng-show="timeUsed">({{timeUsed}} seconds)</p>
    <p id="correctedQuery" ng-show="showCorrectedQuery">Showing results for <span>{{correctedQuery}}</span></p>
    <ul id="results" ng-repeat="document in documents">
      <li class="document">
        <p class="result-title"><a
            ng-href="{{document.url}}">{{document.title}}</a> (NumView:
          {{document.numViews}})</p>

        <p class="result-url">{{document.url}}</p>

        <p class="result-page-rank">Page Rank: {{document.pageRank}}</p>

        <p class="result-score">Score: {{document.score}}</p>

        <p></p>
      </li>
    </ul>
  </section>
</div>