<div>
  <nav id="result-search-nav">
    <p id="nav-logo"><a href="#/">G06</a></p>
  </nav>
  <nav id="tab-nav">
    <div id="tab-list">
      <div><a ng-href="#/result/web">Web</a></div>
      <div><a ng-href="#/result/news">News</a></div>
      <div id="selected-tab"><a ng-href="#/topic">Topic</a></div>
    </div>
  </nav>
  <section id="topic">
    <div id="topic-tabs">
      <button ng-click="showTopTopics()" class="pure-button">Top Topics
      </button>
      <button ng-click="showNumberDistribution()" class="pure-button">Number
        Distribution
      </button>
      <button ng-click="showTimeDistribution()" class="pure-button">Time
        Distribution
      </button>
    </div>
    <div ng-show="displayTopTopics">
      <div id="top-topics-container">
        <ul id="top-topics" ng-repeat="topic in topics">
          <li>
            <p><b>No.{{$index + 1}}: {{topic.keywords}}</b></p>
            <ul  id="top-topic-results"  ng-repeat="result in topic.results">
              <li>{{result.title}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div ng-show="displayNumberDistribution">
      <iframe src="topic/vl/news_column.htm"
              width="100%" height="500px" seamless></iframe>
    </div>
    <div ng-show="displayTimeDistribution">
      <iframe src="topic/vl/news_time.htm"
              width="100%" height="800px" seamless></iframe>
    </div>
  </section>
</div>