/*Result container...........*/
/***************************/
ul#results .result-source {
    color: #006621;
    font-size: 13px;
    font-family: arial,sans-serif;
    display: inline-block;
}

ul#results .result-pub-date {
    color: #666;
    font-size: 13px;
    display: inline-block;
}